{% extends "content_layout.html" %}

{% block content %}
<div class="jumbotron">
	<!-- css -->
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
	<script type="text/javascript" src="{{url_for('static', filename='javascript/index.js')}}"></script>

	<h2>Dataset Annotation System</h2>
	<br>
    {% if logged_in %}
        <form action="/instructor" method="get">
            <button class="btn btn-primary" style="margin-top: 30px;">Manage Datasets</button>
        </form>
        <form action="/annotator" method="get">
            <button class="btn btn-primary" style="margin-top: 30px;">Annotate Datasets</button>
        </form>
    {% else %}
        <form action="/login" method="post">
	        <button class="btn btn-primary" style="margin-top: 30px;">Login with GitLab</button> 
        </form>
    {% endif %}

</div>
{% endblock %}
